/* Spacing */
/* TODO: Fix x and y margins to not set the other axis to 0rem */
.m-0 {
  margin: 0rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mx-0 {
  margin: 0rem 0rem !important;
}

.my-0 {
  margin: 0rem 0rem !important;
}

.m-h {
  margin: 0.5rem !important;
}

.mt-h {
  margin-top: 0.5rem !important;
}

.mb-h {
  margin-bottom: 0.5rem !important;
}

.ml-h {
  margin-left: 0.5rem !important;
}

.mr-h {
  margin-right: 0.5rem !important;
}

.mx-h {
  margin: 0rem 0.5rem !important;
}

.my-h {
  margin: 0.5rem 0rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mx-1 {
  margin: 0rem 1rem !important;
}

.my-1 {
  margin: 1rem 0rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mx-2 {
  margin: 0rem 2rem !important;
}

.my-2 {
  margin: 2rem 0rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mx-3 {
  margin: 0rem 3rem !important;
}

.my-3 {
  margin: 3rem 0rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mx-4 {
  margin: 0rem 4rem !important;
}

.my-4 {
  margin: 4rem 0rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mx-5 {
  margin: 0rem 5rem !important;
}

.my-5 {
  margin: 5rem 0rem !important;
}

.m-6 {
  margin: 6rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.mx-6 {
  margin: 0rem 6rem !important;
}

.my-6 {
  margin: 6rem 0rem !important;
}
